body {
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
}

.index-container {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
}

.page-container {
	display: flex;
	flex-direction: row;
	padding-top: 50px;
}

.exit-button {
	font-size: 50px;
	margin: 5px 70px 0 auto;
}

#eb-gray-pigeons {
	color: #ABABAB;
}

.header {
	font-size: 150px;
	letter-spacing: 7px;
	margin-left: 90px;
	opacity: 0;
}

.subheader {
	font-weight: 400;
	font-size: 20px;
	margin-left: 100px;
}

.poem {
	font-size: 23px;
	margin: 60px 0px 60px 100px;
	letter-spacing: 1px;
	line-height: 40px;
}

.index-body {
	background: linear-gradient(#e5e5e5, #282828);
	height: 2050px;
}

.graypigeons-body {
	background: #D7D7D7;
	color: #ABABAB;
}

/*REMEMBER TO ADD MEDIA QUERIESSSSSS*/

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1292px;
	height: 170px;
	margin: 20px auto;
	font-family: 'Work Sans', sans-serif;
	letter-spacing: 2px;
	font-size: 30px;
}

#gray-pigeons {
	color: #ABABAB;
	border: solid #ABABAB 1px;
	opacity: 0;
	transition: opacity 0.5s;
}

#gray-pigeons:hover {
	opacity: 1;
	transition: opacity 0.5s;
}

#gray-morning {
	color: #A1A1A1;
	border: solid #A1A1A1 1px;
	opacity: 0;
	transition: opacity 0.5s;
}

#gray-morning:hover {
	opacity: 1;
	transition: opacity 0.5s;
}

#gray-stone {
	color: #8C8C8C;
	border: solid #8C8C8C 1px;
	opacity: 0;
	transition: opacity 0.5s;
}

#gray-stone:hover {
	opacity: 1;
	transition: opacity 0.5s;
}

#gunpowder {
	color: #808080;
	border: solid #808080 1px;
	opacity: 0;
	transition: opacity 0.5s;
}

#gunpowder:hover {
	opacity: 1;
	transition: opacity 0.5s;
}

#gray-river {
	color: #6E6E6E;
	border: solid #6E6E6E 1px;
	opacity: 0;
	transition: opacity 0.5s;
}

#gray-river:hover {
	opacity: 1;
	transition: opacity 0.5s;
}

#gray-lady {
	color: #575757;
	border: solid #575757 1px;
	opacity: 0;
	transition: opacity 0.5s;
}

#gray-lady:hover {
	opacity: 1;
	transition: opacity 0.5s;
}

#gray {
	color: #414141;
	border: solid #414141 1px;
	opacity: 0;
	transition: opacity 0.5s;
}

#gray:hover {
	opacity: 1;
	transition: opacity 0.5s;
}

#gray-drapes {
	color: #2E2E2E;
	border: solid #2E2E2E 1px;
	opacity: 0;
	transition: opacity 0.5s;
}

#gray-drapes:hover {
	opacity: 1;
	transition: opacity 0.5s;
}

#gray-sunset {
	color: #111111;
	border: solid #111111 1px;
	opacity: 0;
	transition: opacity 0.5s;
}

#gray-sunset:hover {
	opacity: 1;
	transition: opacity 0.5s;
}